<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
		
<!-- 	By Name -->
	<!-- <bean id="Sbi_BK" class="com.Sbi_BK" autowire="byName">
		<property name="name" value="Generic Text Editor" />
	</bean>
	<bean id="cust" class="com.Cust"/> -->
	
	
	<!-- 	
	<bean id="Sbi_BK" class="com.Sbi_BK" autowire="byType">
		<property name="name" value="Generic Text Editor" />
	</bean>
	<bean id="cu" class="com.Cust"/> -->
	
	
	
	
	 <bean id = "Sbi_BK" class = "com.Sbi_BK" autowire="constructor">
     
      <constructor-arg  value = "Generic Text Editor"/>
   </bean>
   <bean id = "Cust" class = "com.Cust"></bean>
   
   
</beans>

